<section class="timeline">
    {% for event in events.list %}
        {% set type = attribute(types.list, event.type) %}
        <article class="timeline-element {{ event.type }}">
            <div class="timeline-element-left">
                {% if event.date.start is defined %}
                    {% set date = event.date.start %}
                {% else %}
                    {% set date = event.date %}
                {% endif %}

                {{ date | date('M') }}
                <br/>
                {{ date | date('Y') }}
            </div>
            <div class="timeline-element-body card {{ type.background }} {{ type.text }}">
                <div class="card-content">
                    <span class="card-title">{{ event.name }}</span>
                    {% if event.desc is defined %}
                        <p>
                            {{ event.desc | raw }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}
</section>